header {
  height: 200px;
  background-image: linear-gradient(orange, black) ;
  border-bottom: solid 3px darkgray;
  h1 {
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 20px 0;
  }
}
