body {
  > div > div > nav {
    position: absolute;
    z-index: 1;
    background-color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    ul {
      li {
        display: inline;
        &:not(:first-child) {
          padding-left: 10px;
        }
      }
    }
  }
}
