.image {
  padding: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  img {
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.75) 1.95px 1.95px 2.6px;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
      display: block;
    }
  }
  span {
    padding-left: 10px;
    @media screen and (max-width: 768px) {
      text-align: justify;
    }
    * {
      margin: 0;
    }
  }
}
